@import 'tailwindcss';

@theme {
  --color-primary: #da47ef;
  --color-primary-light: #fce4ff;
}

@layer base {
  button {
    cursor: pointer;
  }
}

@layer utilities {
  .safe-area-pb {
    padding-bottom: env(safe-area-inset-bottom);
  }

  .bg-gradient-primary {
    background: linear-gradient(180deg, #ffdbf9 0.19%, #c7a8ff 99.82%);
  }
}
