@import 'tailwindcss';

@theme {
  --color-primary: #da47ef;
  --color-primary-light: #fce4ff;
}

@layer base {
  button {
    cursor: pointer;
  }
}

@layer utilities {
  .safe-area-pb {
    padding-bottom: env(safe-area-inset-bottom);
  }
}
